name: Node.js CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, edited]
    branches:
      - main
      - master
      - develop

jobs:
  use-template:
    uses: ./.github/workflows/npm-ci.yml

    permissions:
      contents: read
      packages: write

    with:
      node-version: 22.x