name: Node.js CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, edited]
    branches:
      - main
      - master
      - develop

jobs:
  use-template:
    uses: ./.github/workflow-templates/node-ci.yml
    with:
      node-version: '22'
      run-test: true


  extra-tests:
    name: Extra tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run tests
        run: npm test
          