name: Node.js CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, edited]
    branches:
      - main
      - master
      - develop

jobs:
  use-template:
    uses: ./.github/workflow-templates/node-ci.yml
    with:
      node-version: '22'
      run-test: true
