name: Node.js CI Pipeline

on:
  pull_request:
    branches: [main, master, develop]

jobs:
  use-template:
    uses: ./.github/workflows/npm-ci.yml

    permissions:
      contents: read
      packages: write

    with:
      working-directory: x
      node-version: 22.x
      test-script: test
      integration-test-script: "integration-tests"
      integration-test-sql-files: "schema.sql, schema2.sql"
      setup-script: setup
      lint-script: lint